doctype html
html
    - function link(href, name) {
        a(href=href)= name
    - }
    - function xlink(href, name) {
        a(href=href, class='external', target='_blank')
            img(src='/images/xlink.png')
            = name
    - }
    block vars
    head
        meta(charset="utf-8")
        title= title
        link(rel='stylesheet', href='stylesheets/ui-lightness/jquery-ui-1.10.3.custom.min.css')
        link(rel='stylesheet', href='stylesheets/my.docks.css')
        //- link(rel='stylesheet', href='stylesheets/equarescmd.css')
        link(rel='stylesheet', href='stylesheets/equares.css')
        style.
            a {
                text-decoration: none;
            }
            a.external {
                text-decoration: underline;
            }
            #login {
                position: absolute;
                right: 10px;
                top: 8px;
            }
            #login > * {
                margin-left: 8px;
                margin-right: 8px;
            }
            #messages {
                position: fixed;
                left: 30%;
                right: 30%;
                top: 10px;
                padding: 5px;
                pointer-events: none;
                text-align: center;
                z-index: 500;
            }
            .message {
                padding-top: 5px;
                padding-bottom: 5px;
                margin-bottom: 5px;
                background-color: #f88;
                //border: 1px solid #ccc;
                border-radius: 5px;
                box-shadow: 5px 5px 10px #888;
                display: none;
            }
            .message.info {
                background-color: #8e8;
            }
            .message.warning {
                background-color: #fd8;
            }
            .message.error {
                background-color: #f88;
                z-index: 1500;
            }
        block otherCss
        script(type='text/javascript' src='js-3rd/jquery-1.10.2.js')
        script(type='text/javascript' src='js-3rd/jquery-ui-1.10.3.custom.js')
        script(type='text/javascript' src='js/my.docks.js')
        script.
            ctm = {initPage: [], initMenu: []}
        block otherScripts
        script.
            function loadLoginForm(loginDiv) {
            $.ajax('/loginform', {cache: false})
                .done(function(data) {
                    loginDiv.html(data)
                })
                .error(function(xhr) {
                    // Note: xhr.readyState==0 means we're doing get on page unload
                    if (xhr.readyState !== 0)
                        loginDiv.html("Ajax error: " + xhr.status + " " + xhr.statusText)
                })
            }
            function message(content, status, duration) {
                if (typeof duration != 'number')
                    duration = 3000
                    var msg = $('<div class="message ' + status + '">' + content + '</div>').appendTo($('#messages')).slideDown('fast')
                    setTimeout(function() {
                        msg.slideUp('fast', function() { msg.remove() })
                    }, duration)
            }
            function infoMessage(content, duration) { message(content, 'info', duration) }
            function warningMessage(content, duration) { message(content, 'warning', duration) }
            function errorMessage(content, duration) { message(content, 'error', duration) }

            function loadMenu(done) {
                $.ajax('/menu-' + location.pathname.substr(1), {cache: false})
                .done(function(data) {
                    var menu = $('#menu')
                    menu.html(data)
                    menu = menu.children()
                    menu.attr("id", "mainmenu").menu()
                    // Nested menu positioning does not work as expected, TODO
                    /*
                    mainMenu.menu("option", "position", { my:'left top', at:'left bottom' })
                    mainMenu.find(".menu-depth-1").menu().menu("option", "position", { my:'left top', at:'right top' })
                    */
                    menu.menu("option", "position", { my:'left top', at:'left+30 bottom' })

                    // Set menu-depth-# class on ul tags
                    ;(function setDepth(root, depth) {
                        root.children('ul').each(function() {
                            $(this)
                                .addClass('menu-depth-'+depth)
                                .children().each(function() {
                                    setDepth($(this), depth+1)
                                })
                        })
                    })(menu.parent(), 0)
                    for (var n=ctm.initMenu.length, i=0; i<n; ++i)
                        ctm.initMenu[i]()
                    if (done instanceof Function)
                        done()
                })
                .error(function(xhr) {
                    // Note: xhr.readyState==0 means we're doing get on page unload
                    if (xhr.readyState !== 0)
                        errorMessage('Failed to load menu')
                })
            }

            $(document).ready(function() {
                var content = $("#root").html()
                var rootLayout = ctmDock.makeRoot().setLayout( {
                    type: "vertical",
                    tools: false
                } );
                var c1, c2, c3;
                c1 = rootLayout.add( {height: 35, nosplit: true} );
                c2 = rootLayout.add( {nosplit: true} );
                c2.master = true;
                c3 = rootLayout.add( {height: 15, nosplit: true} );
                var header = $(c1.dom)
                header
                    .attr("id", "header")
                    .html('<img id="projectlogo" src="images/logo-small.png" alt="logo"/><div id="projectname">Equares</div>');
                $(c2.dom)
                    .html(content)
                    .addClass("mymain")
                $(c3.dom).addClass("myfooter").html('<a target="_blank" href="http://ctmech.ru/">Computer Technologies in Engineering</a>');

                $('<div id="menu"></div>').appendTo(header)
                loadMenu(function() {
                    loadLoginForm($('<div id="login"></div>').appendTo(header))

                    for (var n=ctm.initPage.length, i=0; i<n; ++i)
                        ctm.initPage[i](c1, c2, c3)

                    rootLayout.resize();    // Because borders have changed
                })
            })
    body
        #root
            block content
        block extras
        #messages
